@font-face {
    font-family: "Greatvibes";
    src: url("../fonts/GreatVibes-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Mate";
    src: url("../fonts/Mate-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Rouge Script";
    src: url("../fonts/RougeScript-Regular.ttf") format("truetype");
}