:root {
    --primarycolor: #9482b2;
    --secondarycolor: #ffffff;
    --basic-color: #000000;
}

a, a:hover, .intro {
    font-family: "Mate";
    color: var(--secondarycolor);
    text-decoration: none;
    font-size: 20px;
}

header {
    background-image: url(../pics/banniere2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

nav a:hover {
    color: var(--primarycolor);
    font-variant: small-caps;
}

h1 {
    font-family: "Mate";
    color: var(--secondarycolor);
    font-variant: small-caps;
}

.identité {
    font-family: "Greatvibes";
    color: var(--secondarycolor);
    text-shadow: -1px 0 var(--primarycolor), 
                0 1px var(--primarycolor),
                1px 0 var(--primarycolor), 
                0 -1px var(--primarycolor);
}

.profession {
    font-family: "Greatvibes";
    color: var(--primarycolor);
    text-shadow: -1px 0 var(--secondarycolor), 
                0 1px var(--secondarycolor),
                1px 0 var(--secondarycolor), 
                0 -1px var(--secondarycolor);
}

.rdv {
    border: 2px var(--primarycolor) solid;
    border-radius: 30px;
    padding: 10px 0px;
    margin-top: 50px;
    text-align: center;
}

.rdv:hover {
    background-color: var(--primarycolor);
    border-color: var(--secondarycolor);
    color: var(--secondarycolor)
}



    
