:root {
    --primarycolor: #9482b2;
    --secondarycolor: #ffffff;
    --basic-color: #000000;
}

header {
    background-image: url(../pics/banniere2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    height: 220px;
    padding-top: 30px;
}

header a, header a:hover, .intro {
    font-family: "Mate";
    color: var(--secondarycolor);
    text-decoration: none;
    font-size: 20px;
}  

section a, section a:hover {
    font-family: "Mate";
    color: var(--primarycolor);
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-family: "Mate";
    color: var(--secondarycolor);
    font-variant: small-caps;
}

h2 span {
    color: var(--basic-color)
}

h3 {
    font-family: "GreatVibes";
    font-size: 35px;
    margin-top: 20px;
}

article img {
    text-align: center;
}

article strong {
    font-family: "Mate";
    color: var(--primarycolor);
    font-size: 20px;
}

.identité {
    font-family: "Rouge";
    color: var(--secondarycolor);
    text-shadow: -1px 0 var(--primarycolor), 
                0 1px var(--primarycolor),
                1px 0 var(--primarycolor), 
                0 -1px var(--primarycolor);
    padding-top: 12%;
    font-size: 20px;
}

.profession {
    font-family: "Rouge";
    color: var(--primarycolor);
    text-shadow: -1px 0 var(--secondarycolor), 
                0 1px var(--secondarycolor),
                1px 0 var(--secondarycolor), 
                0 -1px var(--secondarycolor);
    font-size: 20px;
}

.profession, .identité {
    margin-left: 10%;
}

.rdv {
    border: 2px var(--primarycolor) solid;
    border-radius: 30px;
    padding: 5px 5px;
    background-color: var(--primarycolor);
    text-align: center;
}  

.mobile h1, .intro2 {
    color: var(--primarycolor);
    text-align: center;
}

.mobile a, .mobile a:hover {
    font-family: "Mate";
    color: var(--secondarycolor);
    text-decoration: none;
    font-size: 15px;
}

.nav_mobile {
    background-color: var(--primarycolor);
    padding: 0px 0px;
}

.intro2 {
    margin-bottom: 10px;
}

.index_presentation {
    font-family: "Mate";
    box-shadow: 0px 0px 20px grey;
    padding: 10px 10px;
    margin: 10px 10px;
}

.underpic {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
}

.titre_articles {
    margin-top: 20px;
}

.latest_article {
    box-shadow: 0px 0px 20px grey;
    padding: 10px 10px;
    margin: 10px 10px;
}

.pic_mobile {
    text-align: center;
}

.boite {
    box-shadow: 0px 0px 20px grey;
    padding: 15px 15px;
    margin: 10px 10px;
}

.body h2 {
    font-family: "Rouge";
    color: var(--primarycolor);
    font-size: 50px;
    margin-bottom: 20px;
}

.body p, li {
    font-family: "Mate";
    color: var(--basic-color);
}

footer {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    margin-top: 50px;
    padding: 15px 15px;
}

.footer h2 {
    font-family: "Rouge";
    color: var(--secondarycolor);
}

.footer p {
    font-family: "mate";
    color: var(--basic-color);
}

.footer img {
    margin-bottom: 15px;
}

.samu {
    text-align: center;
}